<section id="about">

	<div class="row">
		<div class="col s12 m6 l6">
			<img src="/images/eyes.jpg" alt="Eyes" id="eyes">
		</div>
		<div class="col s12 m6 l6">
			<h3>Artist Statement</h3>
			<p>I feel that my art represents what it means to be a beautiful woman, inside and out. I feel that I explore
				different realms of life, spiritually emotionally, and mentally, that it inspires me to create beautiful art. I
				feel it is necessary to also empower women all around me, not just for myself, because we have that maternal side
				instilled in us since the dawn of time. To be honest with you, I create just to create, and I enjoy it very much.</p>

			<h3>Autobiography</h3>
			<p>Born and raised in Los Angeles, I wasn't exposed to art, however I watched a lot of cartoons just like any kid
				would. I didn't take art seriously until I was in high school, with the inspirations of Mark Ryden and James Jean.
				I studied illustration at Academy of Arts University to grasp onto the basic foundation of art, originally going in
				for comics. I left shortly after two and a half years of being enrolled and decided to take an alternative route of
				continuing my passion and love for art.

				I mainly do watercolors, ink, and gouache. On occasions I'll work digitally.</p>

		</div>
	</div>

</section>