	<section id="shows">
		<div class="row">
			<div class="col s12 m6 l6">
				<ul class="center frame">
					<h1 class="center">Upcoming</h1>
					<li><i>To Be Announced</i></li>
				</ul>
			</div>

			<div class="col s12 m6 l6">
				<ul class="frame" id="past">
					<h1 class="center">Past</h1>
					<li>November 2018: Seeing the Sacred @ The Art Factory.</li>
					<li>May 12, 2017: Sugarhouse Art Walk</li>
					<li>January 29, 2017: RAW OC Presents CUSP</li>
					<li>April 9, 2016: OC DIY's Super Smash Art Gallery</li>
					<li>December 5, 2015: OC DIY</li>
					<li>October 24, 2015: Top Acid Present: WIZARDS ONLY, FOOLS</li>
					<li>September 6, 2015: Top Acid Present: FIGHT LIKE A GIRL</li>
					<li>April 12, 2015: A Woman's Eye Present: Season of Changes</li>
					<li>March 14, 2015: WOCA</li>
				</ul>
			</div>

		</div>
	</section>
