.content {
	width: 90%;
	margin: 0 auto;
}

#navbar {
	background-color: #EE82EE;
}

#about,
#gallery,
#contact,
#shows {
	width: 90%;
	margin: 50px auto;
}

#eyes {
	width: 90%;
}

.card-image {
	height: 300px;
}

#artImage {
	object-fit: cover;
	width: 100%;
	height: 95%;
}

#message {
	background-color: #E6E6E6;
	height: 500px;
	width: 95%;
}

.submit {
	background-color: #EE82EE;
}

.frame {
	background-color: rgb(236, 233, 233);
	border: solid 15px #BD1ABD;
	border-left-color: #e128e1;
	border-bottom-color: #E755E7;
	box-sizing: border-box;
	width: 95%;
	margin: 10px;
	padding: 15px;
	height: 80vh;
}

#past {
	padding-left: 50px;
	line-height: 30px;
}